body {
  padding: 0;
  margin: 0;
  border-radius: 12px;
  font-family: Inter;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 250px;
  flex-direction: column;

}
p{

  font-size: large; 
  color: white; 
}
#head{
  font-size: x-large;
}

button{
  padding:15px;
  border: none;
  width: 200px;
  border-radius: 10px;
  background-color: #00a0dc;
  margin-bottom: 10px;
}
.linkedin-head{
  height: 20%;
  width: 76%;
  background-color: #0077b5;
  color: white;
  font-size:15px;
  padding:0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.connect-container{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.connect-progressbar{
  height: 70%;
}
#progerss-number{
  font-size: 30px;
  color: #0077b5;
}
#connect{
  color: aliceblue;
  font-weight: bold;
}
#number-invite{
  color: #0077b5;
}